{% extends "base.jinja2" %}
{% block breadcrumb_items %}
	{{ super() }}
    <li class="breadcrumb-item">
        <a href="{{ request.route_path('listar_usuarios') }}">Usuarios</a>
    </li>
{% endblock %}
{% block breadcrumb_active_item %}
            <li class="breadcrumb-item active">Editar Usuario</li>
{% endblock %}
{% block sidebar_users %}active{% endblock %}
{% block content %}

{% endblock %}