{% extends "base.jinja2" %}
{% block breadcrumb_items %}
	{{ super() }}
{% endblock %}
{% block breadcrumb_active_item %}
            <li class="breadcrumb-item active">Usuarios</li>
{% endblock %}
{% block content %}
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              User list</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>User name</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>User name</th>
                    </tr>
                  </tfoot>
                  <tbody>
                        {% for user in usuarios %}
                    <tr>
                        <td>{{ user.user }}</td>
                    </tr>
                        {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>
{% endblock %}