{% extends "base.jinja2" %}
{% block breadcrumb_items %}
	{{ super() }}
{% endblock %}
{% block breadcrumb_active_item %}
            <li class="breadcrumb-item active">Computadoras</li>
{% endblock %}
{% block sidebar_computers %}active{% endblock %}
{% block content %}
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Computer list <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0" action="/add_user"><button class="btn btn-primary" type="button" alt="Add Computer"><i class="fas fa-desktop"></i><i class="fas fa-plus"></i></form>
            </button>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr><th><i class="fas fa-cog"></i></th><th>Computer name</th><th>Description</th><th>Distinguished Name</th></tr>
                  </thead>
                  <tfoot>
                    <tr><th><i class="fas fa-cog"></i></th><th>Computer name</th><th>Description</th><th>Distinguished Name</th></tr>
                  </tfoot>
                  <tbody>
                        {% for computadora in computadoras %}
                    <tr>
                    	<td><a href="{{ request.route_path('editar_computadora_mostrar_form',objectguid=computadora.key) }}"><i class="fas fa-edit"></i></a></td>
                        <td>{{ computadora.samaccountname }}</td>
                        <td>{{ computadora.description }}</td>
                        <td>{{ computadora.dn }}</td>
                    </tr>
                        {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">La consulta tard&oacute; {{ "%.2f"|format(intervalo) }} segundos</div>
          </div>
{% endblock %}