{% extends "base.jinja2" %}
{% block breadcrumb_items %}
	{{ super() }}
{% endblock %}
{% block breadcrumb_active_item %}
            <li class="breadcrumb-item active">Avanzado</li>
{% endblock %}
{% block sidebar_advanced %}active{% endblock %}
{% block content %}
<script type="text/javascript">
$(document).ready(function()
{
	$('#advanced_tree').jstree(
	{
		'core' : {
			'data' : {
				'url' : '{{ request.route_path('listar_subrama') }}',
				'data' : function (node) 
				{
					return { 'id' : node.id };
				}
			}
		}
	}
	);
}
);
</script>
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Advanced list <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0" action="/add_advanced"><button class="btn btn-primary" type="button" alt="Add Advanced"><i class="fas fa-superpower"></i><i class="fas fa-plus"></i></form>
            </button>
            </div>
            <div class="card-body">
            <div id="advanced_tree">
            </div>
            </div>
            <div class="card-footer small text-muted"></div>
          </div>
{% endblock %}
{% block custom_scripts%}
<script src="{{ request.static_url('samba4_manager:static/vendor/jstree/jstree.min.js') }}"></script>
<link rel="stylesheet" href="{{ request.static_url('samba4_manager:static/vendor/jstree/themes/default/style.css') }}" />
{% endblock %}