{% extends "base.jinja2" %}
{% block page_title %}Samba4 Manager - Users{%endblock%}
{% block breadcrumb_items %}
	{{ super() }}
{% endblock %}
{% block breadcrumb_active_item %}
            <li class="breadcrumb-item active">Usuarios</li>
{% endblock %}
{% block sidebar_users %}active{% endblock %}
{% block content %}
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              User list <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0" action="{{ request.route_path('agregar_usuario') }}" method="GET"><button class="btn btn-primary" type="submit" alt="Add User"><i class="fas fa-user-plus"></i></form>
            </button>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr><th><i class="fas fa-cog"></i></th><th>User name</th><th>Description</th><th>Distinguished Name</th></tr>
                  </thead>
                  <tfoot>
                    <tr><th><i class="fas fa-cog"></i></th><th>User name</th><th>Description</th><th>Distinguished Name</th></tr>
                  </tfoot>
                  <tbody>
                        {% for user in usuarios %}
                    <tr>
                    	<td><a href="{{ request.route_path('editar_usuario_mostrar_form',objectguid=user.key) }}"><i class="fas fa-edit"></i></a></td>
                        <td>{{ user.user }}</td>
                        <td>{{ user.description }}</td>
                        <td>{{ user.dn }}</td>
                    </tr>
                        {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">La consulta tard&oacute; {{ "%.2f"|format(intervalo) }} segundos</div>
          </div>
{% endblock %}