{% extends "base.jinja2" %}
{% block page_title %}Samba4 Manager - Login{%endblock%}
{% block content %}

  <body class="bg-dark">

    <div class="container">
      <div class="card card-login mx-auto mt-5">
        <div class="card-header">Login</div>
        <div class="card-body">
          <form action="{{ request.route_path('listar_usuarios') }}" method="post">
            <div class="form-group">
              <div class="form-label-group">
                <input type="text" name="inputUser" class="form-control" placeholder="User name" required="required" autofocus="autofocus">
                <label for="inputUser">Username</label>
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <input type="password" name="inputPassword" class="form-control" placeholder="Password" required="required">
                <label for="inputPassword">Password</label>
              </div>
            </div>
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="remember-me">
                  Remember Password
                </label>
              </div>
            </div>
            <input type="submit" name="submitted" id="submitted" class="btn btn-primary btn-block" value="Login">
          </form>
          <div class="text-center">
            <a class="d-block small mt-3" href="register.html">Register an Account</a>
            <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}